@import "tailwindcss";

:root {
  --white: #fdf2e2;
  --black: #2a1e1b;
  --black50: rgba(42, 30, 27, 0.5);
  --orange: #ff672d;
  --yellow: #f2b604;
  --green: #00944e;
  --blue: #0592c1;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
}
